@tailwind base;
@tailwind components;
@tailwind utilities;

/* *{
    border: 1px solid red;
} */
@layer base {
    ::-webkit-scrollbar {
      width: 8px;
    }
  
    ::-webkit-scrollbar-track {
      background: #f1f1f1; 
    }
  
    ::-webkit-scrollbar-thumb {
      background: #407BFF; 
      border-radius: 6px;
    }
  
    ::-webkit-scrollbar-thumb:hover {
      background: #407BFF; 
    }
  }
  